*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
html{
    cursor: none;
}

main{
    max-width: 620px;
    margin: 0 auto;
    padding-bottom: 6rem
}

h1, h2, h3, button{
    font-family: sans-serif;
}

h1{
    margin-top: 6rem;
}
h2{
    margin-top: 4rem;
}
p{
    margin-top: 1.5rem;
    line-height: 1.5;
}

button{
    border: 3px solid black;
    padding: .5rem .5rem;
    background-color: white;
    font-weight: bolder;
    cursor: none;
}
button:hover{
    background-color: black;
    color: white;
}

#modalBtn{
    display: block;
    margin-top: 3rem;
}

/* Modal */


#modal{
    display: none;

    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;
}
.modal-content{
    display: flex;
    justify-content: space-between;

    padding: 2rem;
    background-color: white;

    width: fit-content;
    height: fit-content;
}

#closeBtn{
    height: fit-content;
    margin-left: 1rem;
}

/* Scroll progress bar */
#scrollProgress{
    position: sticky;
    top: 0;
    height: 2rem;
    width: 0;
}


#scroll100{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: scale(0);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Costum Cursor*/

#cursor{
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: hotpink;

    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    /* transform: translateX(-50%); */
}